a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
	margin: 0;
	font-family: Roboto, -apple-system, 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
	background: #3b4465;
}
